@page "/"

<PageTitle>TicTacToe</PageTitle>

<h1>TicTacToe</h1>



<p>Enter Room Code!</p>
<input @bind_Value = _roomCode><input/>
<button type="submit">Join Room!</button>

<button>Create Room!</button>

<p>Room Code: @_roomCode</p>

@code {
    private string _roomCode = "";
}